.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.homeContainer .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.topNavbar .searchBar {
  flex: 1;
}
.topNavbar .orderBar {
  flex: 1;
}
.content {
  display: flex;
  flex: 1 0 auto;
}
.content .leftNavbar {
  flex: 1;
  text-align: right;
}
.content .cards {
  flex: 3;
}
.homeFooter {
  background-color: brown;
  flex-shrink: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
