.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.homeNavbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.searchBar {
  flex-grow: 2;
  text-align: left;
}
.orderBar {
  flex-grow: 1;
}
.filterBar {
  flex-grow: 1;
  text-align: right;
}
.cardsContainer {
  background-color: burlywood;
  flex: 1 0 auto;
}
.paginationContainer {
  background-color: brown;
  flex-shrink: 0;
}
