.card {
  display: grid;
  background-color: #7e7e7e;
  border-radius: 3%;
  max-width: 300px;
  margin: auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card .cardImage img {
  max-width: 100%;
  height: auto;
}

.card .cardText {
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.card .cardTitle {
  font-size: 18px;
  margin-top: 5px;
}

.card .cardGenres {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: 10px;
}
