.homeContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.homeContainer .loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.topNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(59, 59, 59, 0.8);
  padding: 10px;
  border-radius: 8px;
  margin: 0 1vw;
  box-shadow: inset 0.1em 0.1em 0.5em black;
  position: sticky;
  top: 0;
  z-index: 10;
}
