.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  width: 100%;
  font-family: inherit;
  color: #22c9df;
  border: 3px solid #22c9df;
  padding: 5px;
  border-radius: 16px;
  outline: none;
  background: none;
}

.searchTerm:focus {
  color: aquamarine;
}

.searchButton {
  width: 40px;
  height: 36px;
  background-color: transparent;
  text-align: center;
  color: black;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  border: 3px solid #00b4cc;
}

.searchButton svg:hover {
  fill: aqua;
}

.searchResultWrapper {
  position: relative;
  width: 100%;
}

.searchResultWrapper div {
  position: absolute;
  overflow-y: auto;
  z-index: 100;
  width: 100%;
  background-color: black;
}
