.landingContainer {
  height: 100%;
  background-image: url("/src/assets/img/landing_background_02.png");
  background-position: center;
  background-size: cover;
}

.buttonContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.buttonContainer .btn {
  width: 80px;
  height: 80px;
  font: inherit;
  font-weight: bold;
  color: #fff;
  background-color: #8d3852;
  border-radius: 100%;
  border: #611e32 solid 2px;
  cursor: pointer;
  position: relative;
  animation: shadowPulse 1s infinite linear;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 8px 6px transparent, 0 0 0 0 transparent,
      0 0 0 0 transparent;
  }

  10% {
    box-shadow: 0 0 8px 6px #e1434b, 0 0 12px 10px transparent,
      0 0 12px 5px #e1434b;
  }

  80%,
  100% {
    box-shadow: 0 0 8px 6px transparent, 0 0 0 40px transparent,
      0 0 0 40px transparent;
  }
}

.animContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform: translate(-50%, -50%);*/
}
