@keyframes traveling {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.pacman {
  offset-path: path("M -200 0 V -200 H 200 V 200 H -200 Z");
  animation: traveling 10s infinite;
  width: 50px;
  height: 50px;
  background-image: url("./pacman.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
