.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px;
}

.loading {
  position: absolute;
  top: 0;
  z-index: 2;
}

.emptyMessage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: white;
}
