.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 2vw;
}

.navbar .homeLinkContainer {
  height: 100%;
}
.navbar .homeLinkContainer a:hover {
  color: aqua;
}

a.navbarLink {
  background-color: rgb(59, 59, 59);
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  text-decoration: none;
  color: coral;
  font-size: 16px;
}

a.navbarLink:hover {
  color: aqua;
}

a.active {
  color: rgb(193, 72, 204);
}

a.navbarLink img {
  height: 60px;
}

button.navbarButton {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: none;
  color: aliceblue;
  border: none;
  border-radius: 6px;
}

.navbarButton .buttonText {
  color: coral;
}
